html
	{
	background-color:f0f0f0;
	}


h1 
	{
	font-size: 40px;
	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	margin-bottom: 90px;
	margin-top: 90px;
	}
	
	
body 
	{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	}


h2 
	{
	margin: 0;
	font-size: 25px;
	font-family: arial;
	text-decoration: underline;
	font-weight:bold;
	}
	
	
p 
	{
	font-size: 15px;
	font-family: arial;
	font-weight:bold;
	}
	
	
footer 
	{
	width: 960px;
	font-family: arial;
	border-top : 1px solid #000;
	font-size: 12px;
	float: right;
	text-align : right;
	margin-bottom: 40px;
	margin-top: 40px;
	}
	
	
nav 
	{
	font-size: 15px;
	font-family: arial;
	float: right;
	}

	
#header 
	{
	padding-top: 65px;
	font-size: 20px;
	font-family: arial;
	}

	
a:hover 
	{
	font-weight: bold;
	}

	
.en-cours 
	{
	font-weight: bold;
	}

a:visited 
	{
	color: black;
	}

a:link
	{ 
	text-decoration:none; 
	}
	
	
#un 
	{
	width: 300px;
	text-align: left;
	float: right;
	height: 400px;
	vertical-align: top;
	}
	
#deux 
	{
	text-align: right;
	width: 300px;
	float: left;
	height: 400px;
	vertical-align: top;
	}

#trois
	{
	text-align: left;
	width: 300px;
	float: right;
	height: 400px;
	vertical-align: top;
	}
	
	
#bureau
	{float: left;
	margin-bottom: 50px;
	}
	
#livre
	{float: right;
	margin-bottom: 50px;
	}
	
#photographe
	{float: left;
	}